/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif, 'Roboto';
    height: 100%;
    background-image: url('bgi.png'); /* Replace with the correct path */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.288); /* Light overlay for container */
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(10px); /* Blur effect for background */
  }
  
  .left-section, .right-section {
    background: rgba(70, 70, 70, 0.9); /* Red background with high transparency */
    border-radius: 20px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 45%;
    font: 18px 'Roboto', sans-serif;
    margin-right: 20px;
  }
  
  .left-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .left-section p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .right-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #emergencyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  #emergencySearch {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    width: 80%;
  }
  
  button[type="submit"] {
    padding: 15px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 80%;
    font: 18px 'Roboto', sans-serif;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .left-section, .right-section {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  button[type="button"] {
    padding: 15px 20px;
    background-color: #2a8eff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  
  button[type="button"]:hover {
    background-color: #0400ff;
  }
  .dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    color: #333;
    margin-left: 20px;
  }
  .dropdown div {
    padding: 10px;
    cursor: pointer;
  }
  .dropdown div:hover {
    background-color: #f1f1f1;
  }
  